<!-- this is my header in html that says welcome -->
<h1>welcome to the game hot or not. </h1>

<!-- this is a new paragraph with the message that I want you to read with instructions for my game -->
<p>it's not the hot or not that you're thinking of; you just guess a number in between 0 and 1000.</p>

<!-- this is the form that posts to /guess -->
<form method="POST" action="/guess" input type="hidden" value="999">

<!-- this is the box where you put your number -->
  <textarea name="number"><%=@number%></textarea><br />

<!-- this is the button under the form -->
  <button>was I right?!?!?!?!?!?!?!?</button>
</form>
